<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Rewire.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>buildNumber</key>
			<string>1</string>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>0ED4CBCB00050934224654D778124124B62E1313</string>
				<key>dateExpires</key>
				<string>5/12/26</string>
				<key>type</key>
				<string>Cloud Managed Apple Distribution</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>0.12.0</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>0ED4CBCB00050934224654D778124124B62E1313</string>
						<key>dateExpires</key>
						<string>5/12/26</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>hermes.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>4LHEX387VL</string>
						<key>name</key>
						<string>Dominic Hulsey</string>
					</dict>
					<key>versionNumber</key>
					<string>0.12.0</string>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>4LHEX387VL.com.rewire.app.us</string>
				<key>com.apple.developer.team-identifier</key>
				<string>4LHEX387VL</string>
				<key>get-task-allow</key>
				<false/>
			</dict>
			<key>name</key>
			<string>Rewire.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>11330136-403d-4d4e-bd9f-a115ce4c69e4</string>
				<key>dateExpires</key>
				<string>5/12/26</string>
				<key>name</key>
				<string>iOS Team Ad Hoc Provisioning Profile: com.rewire.app.us</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>4LHEX387VL</string>
				<key>name</key>
				<string>Dominic Hulsey</string>
			</dict>
			<key>versionNumber</key>
			<string>1.0</string>
		</dict>
	</array>
</dict>
</plist>
